<div class="field">
    <%= f.label "Room" %>
    <%= f.select(:room, options_for_select((1..6).map { |num| ["Room #{num}", num] })) %>
</div>
<div class="field">
    <%= f.label "Time" %>
    <%= f.select(:time, options_for_select([["Matiné", 1], ["Tanda", 2], ["Noche", 3]])) %>
</div>