<div style="margin: auto;width: 20%;border: 5px solid;padding: 10px;">
<div style="text-align:center;height:80px;padding-top:40px;">
<a class="button" href="<%= movies_path(admin:true) %>">
Administrar
</a>
</div>
<div style="text-align:center;height:80px;padding-top:40px;">
<a class="button" href="<%= movies_path %>">
Reservar
</a>
</div>
</div>
