<div class="container" style="margin: auto;width: 20%;border: 5px solid;padding: 10px;margin-top:50px">
<div style="text-align:center;height:120px;padding:40px;">
<a class="button" href="<%= movies_path(admin:true) %>">
Administrar
</a>
</div>
<div style="text-align:center;height:120px;padding:40px;">
<a class="button" href="<%= movies_path %>">
Reservar
</a>
</div>
</div>
