/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.movie-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 1rem;
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    min-height: 300px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 10px 16px;
  }

  .dates {
    text-align: left;
  }
  .room-time {
    text-align: left;
  }

a.button {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 20px;
  text-shadow:none;
  text-align: center;
  padding: 10px;
}
